<ion-header>
  <ion-toolbar color = "tertiary">
    <ion-title>Sobre nosotros</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-toolbar>
      <ion-buttons slot="start" >
        <ion-menu-button menu="side-menu"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>


  <ion-card>
    <img src="../../../assets/img/1665123635603.jpg">
    <ion-card-content>
      <ion-card-title>
        Matias Allendes
      </ion-card-title>
      <p>
        El mejor programador del mundo
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../../assets/img/WhatsApp Image 2022-10-07 at 1.05.21 AM.jpeg
    ">
    <ion-card-content>
      <ion-card-title>
        Benjamin Guzman
      </ion-card-title>
      <p>
        El mejor programador del mundo
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../../assets/img/WhatsApp Image 2022-10-02 at 6.30.09 PM.jpeg">
    <ion-card-content>
      <ion-card-title>
        Sebastian Solar
      </ion-card-title>
      <p>
        El mejor programador del mundo
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
